/* header  */
.top{
	background-color: #3498db;
	text-align: center;

}
.color-font{
	color: white;
	font-size : 0.7rem;
}
.login-button{
	float: right;
}
.header{
	text-align: center;
	align-items: center;
	padding: 5px;
}
.img-logo > img {
	width: 120px;
}
.btn-bonus{
	text-align: center;
}
.btn-bonus a {
	color: #fff;
    background-color: #3498db;
    border-radius: 5px;
    padding: 10px 30px;
}
.banner{
	/* background: url(../images/original.jpeg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100% !important;
    height: 300px;
    position: relative;
    opacity: 0.9;
    background-attachment: fixed;
}
.banner-menu-background{
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 100%;
    top: 0;
}
.menu-banner{
	display: inline-flex;
	justify-content: space-evenly;
	align-items: center;
}
.items-menu-banner{
	color:  white;
}
.banner-icon{
	display: inline-flex;
	flex-wrap: nowrap;
	float: right;
	padding: 0;
	margin: 0;
}
.row > ul {
	margin-bottom: 0;
}






/* end header */


.shadow{
    margin: 5px;
    padding: 0 10px;
    /* max-width: 100%; */
    border-radius: 10px;
    width: auto !important;
    height: auto  !important;
    box-shadow: -1px 10px 18px #dbdbdb;
    /* filter: grayscale(1); */
    border: 1px solid lightgray;
    /* display: block ; */
}
.name{
	background: linear-gradient(to right, #00ccff 30%, #0066cc 70%);
    text-transform: uppercase;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.margin-bot{
	margin-bottom: 10px;
}
.line-bottom{
	width:  100%;
	border-bottom : 1px solid lightblue;
	margin: 20px 0;
}
.margin-size{
	margin: 0 10px;
}
.ul-info{
	list-style: none;
	text-decoration: none;
	align-items: center;
}
.non-text-dec{
	text-decoration: none;
}
.sizetext{
	font-size: 18px;
	padding: 20px 45px;
}
.form-input{
	padding: 7px 12px;
	border-color: #f2f2f2;
	box-shadow: none;
	border-radius: 5px;
	border: 1px solid #ccc;
	height: 34px;
	width:  100%;
}
.form-info-p{
	margin: 5px 0;
}
.button{
    padding: 3px 25px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.box{
	margin: 1px solid #333 ;
	box-shadow: -1px 3px 9px #ccc;
}
.image-cover {
	overflow: hidden;
	height: 200px;
}
.card{
	box-shadow: 6px 8px 10px #0000001c;
	margin: 15px 0;
}
.card-img-top{
	max-width: 100%;
	height: 100% !important;
}
.card-time{
	font-size:  12px;
	float:  right;
	color:  lightgray;
}

p{
	margin-bottom: 0.5rem !important;
}
.card-time{
	font-size: 0.5rem !important;
}
/* Destop */
@media only screen and (max-width: 1920px){
	.product-list{
		flex-direction: column;
		align-items: center;
	}
	.card-product{
		width: 24rem;
	}
	.card-items{
		width: 15rem;
	}
	.address-form{
		font-size: 24px;
	}
@media only screen and (max-width: 1366px){
	.product-list{
		flex-direction: column;
		align-items: center;
	}
	.card-product{
		width: 380px;
	}
	.card-items{
		width: 11rem;
		font-size: 13px;
	}
	.address-form{
		font-size: 23px;
	}
}
@media only screen and (max-width: 1170px){	
	.product-list{
		flex-direction: column;
		align-items: center;
	}
	.card-product{
		width: 17rem;
		font-size: 18px;
	}
	.card-items{
		width: 10rem;
		font-size: 16px;
	}
	.ul-info{
		flex-direction: row;
	}
	.address-form{
		font-size: 21px;
	}
}
/* Tablet */
@media only screen and (max-width: 991px){
	
	.card-product{
		width: 11rem;
	}
	.card-items{
		width: 8rem;
		font-size: 12px;
	}
	.ul-info{
		flex-direction: row;
	}
	.address-form{
		font-size: 19px;
	}

	/* header */
	.bd-right{
		height: auto;
		paddding-right: 0;
		border-right: none;
	}
	.menu-btn a {
		padding: 12px 20px;
	}
	.navbar>.container{
		justify-content: center;
	}
}
@media only screen and (max-width: 786px){
	[class*="col-bonus"] {
	  width: 100%;
	  justify-content: center;
	}
	.product-list{
		flex-wrap: nowrap;
	}
	.card-product{
		width: 25rem;
	}
	.card-items{
		width: 10rem;
		font-size: 11px;
	}
	
	.ul-info{
		flex-direction: row;
		flex-wrap: nowrap;
		padding: 0;
	}
	.sizetext{
		font-size: 1rem ;
	}
}
/* Mobile */
@media only screen and (max-width: 420px){
	[class*="col-bonus"] {
	  width: 100%;
	}
	.ul-info{
		flex-direction: row;
		flex-wrap: wrap;
		/* justify-content: center; */
	}
	.product-list{
		flex-direction: column;
		align-items: center !important;
	}
	.card-product{
		width: 100%
	}
	.card-items{
		width: 12rem;
		font-size: 13px;
	}
	.contact-form{
		flex-direction: column;
	}
	.address-form{
		font-size: 18px;
	}
	.sizetext{
		font-size: 0.5rem;
	}
	/* navbar-top header */
	.navbar > .container{
		display: flex ;
		flex-wrap: nowrap;
		justify-content: center !important;
	}
	.pe-3{
		padding-right: 0 !important;
		font-size: 12px;
	}
	#navbar_top{
		height:  auto;
	}
	#navbar_top li a, span {
    	font-size: 8px;
	}
	.menu-top {
		display: none ;
	}
	.banner-content{
		display: none;
	}
	.banner-shop{
		border-left: none ;
		padding: 0;
		
	}
	.banner-search{
		border-left: none ;
		padding: 0 5px;
	}
	.banner-icon{
		display: inline-flex;
		padding: 0;
		margin: 0 10px;
	}
	.banner-icons{
		align-items: center;
	}
	.banner-house-icon{
		border-right: none;
		font-size: auto;
		margin-right: 0;
	}
	.banner-house-icon i{
		font-size: 1rem;
		margin-right: 0;

	}
	.banner-house-text ul li {
		padding: 10px;
	}
	.banner-house-text ul {
		margin: 0;
		padding: 0px;
	}
	.banner-house-text ul li a{
		font-size: 10px;
	}
	.banner-house{
		/* justify-content: center; */
	}
	.banner{
		height: 44vh;
	}
	.justify-content-between{
		justify-content: normal !important;
	}
	.inf-support p a{
		font-size: 12px;
	}
}